body {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;

}

html {
    width: 100%;
    height: 100%;

}


.mysection {
    min-height: 100vh;
    text-align: justify;
    display: block;
    background-attachment: fixed;



}

.mysection > .container {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
}

/* ######## PARALAKSA TŁA #############  

.bgnd {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 1200px;
    min-height: 200px;
}

*/

.bgnd-1 {

    /* Photo by Cátia Matos from Pexels */
    background-image: url(img/003.jpg);
    height: 100vh;

}

.bgnd-2 {
    background-image: url(img/03.jpg);
    height: 50vh;

}

.bgnd-3 {
    background-image: url(img/4.jpg);
    height: 70vh;

}

section.pic {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.img-text-h1 {
    padding-top: 40vh;
    font-size: 10vh;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-family: 'Arbutus Slab', serif;


}

.img-text-h2{
    font-size: 7vh;
    color: #ff9d2c;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-family: 'Ruda', sans-serif;
    font-weight: 1000;
    padding-top: 5vh;

}

::selection {
    background: #ffff00;
}



.big-head {
    font-size: 5vh;
    font-family: 'Lobster';
    text-align: center;
    padding: 10vh 0 5vh 0;
    color: #f8f8f8;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text-p{
    padding: 3vh 0;
}

/*###### NAV ###### */

#myicon {
    border-radius: 50%;
}

.nav-link {
    transition-duration: 1.2s;
    font-size: 3vh;
    margin-right: 1vw;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Berkshire+Swash', sans-serif;
    color: #d3d3d3;

}

.nav-link:first-child {
    margin-left: 1vw;
}

#navbarNav {
    margin-left: 30vw;
}

.mynav {
    background-color: rgba(0, 0, 0, 0.85);
}


#navlink1:hover {
    color: #49ceff;
}

#navlink2:hover {
    color: #f5a03e;

}

#navlink3:hover {
    color: #a299f0;
}

#navlink4:hover {
    color: #4BE3BD;
}





.leftcol {
    float: left;
    margin: 0 1.5vw 0 3vw;
    min-width: 25%;
}

.rightcol {
    float: right;
    margin: 0 3vw 0 1.5vw;
}

/*##### PASKI PROGRESU ###### */

.progress {
    width: 55%;
    float: right;
    margin: 3vh;
}

.clear {
    clear: both;
}

.hp {
    float: left;
    margin: 2vh 0 2vh 0;
    font-size: 3vh;
}

.titleprog1 {
    font-size: 3.5vh;
    padding: 2vh 0 4vh 0;
    font-weight: 800;
    color: #395771;
    text-align: center;
}

.titleprog2 {
    font-size: 3.5vh;
    padding: 1vh 0 1vh 0;
    font-weight: bolder;
    text-align: center;
}

.progbg1 {
    background-color: #00d4d4;

}


.progbg2 {
    background-color: #9d9d9d;

}







footer {
    height: 6%;
    padding: 1%;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-size: 2vh;
    background-color: rgba(0, 0, 0, 0.95);

}


.onecol {
    margin: 0 3vw 10vw 3vw;
}


.col-lg-12 > .mlink {
    text-decoration: none;
    color: #1d1d1d;

}

.mlink > h3 {
    font-size: 120%;

}

h-contact {

    text-align: center;
    display: inline-block;
}
